<mat-toolbar color="primary">
    <span class="toolbar-title">{{'title' | translate}}</span>
    <mat-icon class="icon">
        <a href="https://github.com/mayarafernandes/currency-conversion" target="_blank">
            <img src="../assets/img/github.svg" />
        </a>
    </mat-icon>
</mat-toolbar>
<div style="text-align: center;">    
    <h4>{{'chooseLanguage' | translate}}</h4>
    <mat-icon class="flag-icon" (click)="useLanguage('pt')">        
        <img src="../assets/img/flag-br.svg" />
    </mat-icon>
    <mat-icon class="flag-icon" (click)="useLanguage('us')">
        <img src="../assets/img/flag-us.svg" />        
    </mat-icon>
    <mat-icon class="flag-icon" (click)="useLanguage('gb')">
        <img src="../assets/img/flag-gb.svg" />        
    </mat-icon>
    <br><br>
    <app-conversion *ngIf="currentCurrency" [currentCurrency]="currentCurrency" (messageEvent)="receiveMessage($event)"></app-conversion>
    <br><br>
    <h4 class="error-message">{{message}}</h4>
    <app-currencies [defaultCurrencySymbol]="defaultCurrencySymbol" (messageEvent)="receiveMessage($event)"></app-currencies>
</div>