html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.toolbar-title {
    margin: auto;
}
.button-convert {
    text-transform: uppercase
}
.flag-icon {
    padding: 2px;
    cursor: pointer;
}
.footer-date {
    display: block;
}
.card {
    margin: auto;
    width: fit-content;
}
.error-message {
    color: tomato;
}